# 忽略所有的 __pycache__ 目录
__pycache__/

# 忽略所有的 .pyc 文件
*.pyc

# 忽略 Jupyter Notebook 检查点
**/.ipynb_checkpoints/

# 忽略 SQLite 数据库文件
*.sqlite3

# 忽略日志文件
*.log

# 忽略临时文件
*.tmp
*.temp

# 忽略其他临时文件和目录
*.bak
*.swp

*.csv
*.txt
*.pdf

other_interesting/dense_caption/output_images/

